{% load wagtailimages_tags %}
{% load wagtailcore_tags %}


{% for card in self.cards %}
{% image card.image fill-1920x1080 as img %}
    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">

            <div class="team-member">
                <div class="member-img">
    <!--                <p>{{img.url}}</p>-->

                    <img src="{{img.url}}" class="img-fluid" alt="">
                    <div class="social">
                        <a href="{{card.x}}" target="_blank"><i class="bi bi-twitter-x"></i></a>
                        <a href="{{card.Facebook}}" target="_blank"><i class="bi bi-facebook"></i></a>
                        <a href="{{card.instagram}}" target="_blank"><i class="bi bi-instagram"></i></a>
                        <a href="{{card.linkedin}}" target="_blank"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="member-info">
                    <h4>{{card.name}}</h4>
                    <span>{{card.title}}</span>
                </div>
            </div>



    </div><!-- End Team Member -->
{% endfor %}
