<footer id="footer" class="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a href="/" class="logo d-flex align-items-center">
                        <svg width="46" height="20" viewBox="0 0 46 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.5837 4.59419V0.155229C22.9878 0.0875326 30.1849 -0.0362555 31.74 0.010165C33.2951 0.0565856 34.1481 2.4279 34.3802 3.60776H22.8041L19.5837 4.59419Z" fill="#292876"/>
                            <path d="M11.4311 14.1684L5.04823 20H7.34024L10.1835 17.2438L11.1699 20H13.8101L11.4311 14.1684Z" fill="#292876"/>
                            <path d="M0 19.942C7.60136 10.7687 30.3183 -5.87944 45.318 11.4412C37.9899 2.97919 25.9507 4.27343 15.2607 10.5946L18.5392 19.942H14.6805L12.0113 12.6998C9.1256 14.7369 6.27722 17.3012 3.82969 19.942H0Z" fill="#F01D23"/>
                            <path d="M19.1775 19.942V9.67143L23.5294 7.66955V9.90354C25.686 9.91321 30.0979 9.92675 30.4925 9.90354C30.8871 9.88033 30.9857 9.46834 30.9857 9.26525V6.27693H34.9895C34.9798 6.73147 34.9663 8.13375 34.9895 10.1066C35.0127 12.0795 32.5621 13.1723 31.3338 13.4721H23.5294V19.942H19.1775Z" fill="#F01D23"/>
                            <path d="M1.18953 16.3734L6.41183 0.155229H11.4601L13.9842 7.75659L10.9378 9.61341L8.90694 3.4917L6.41183 11.7604L1.18953 16.3734Z" fill="#292876"/>
                            </svg>
                            
                    </a>
                    <div class="footer-contact pt-3">
                        {% if not home %}
                            {% with page as x %}
                                <p>{{x.address}}</p>
                                <p class="mt-3"><strong>Phone: </strong> <span>{{x.contact}}</span></p>
                                <p><strong>Email: </strong> <span>{{x.email}}</span></p>
                            {% endwith %}
                        {% endif %}

                        {% if home %}
                            <p>{{home.address}}</p>
                            <p class="mt-3"><strong>Phone: </strong> <span>{{home.contact}}</span></p>
                            <p><strong>Email: </strong> <span>{{home.email}}</span></p>
                        {% endif %}


                        <!--                            <p>A108 Adam Street</p>-->

                    </div>
                    <div class="social-links d-flex mt-4">
                        <a href=""><i class="bi bi-twitter-x"></i></a>
                        <a href=""><i class="bi bi-whatsapp"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="/#hero"> Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/#about"> About us</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/#service"> service</a></li>
                        <!--                            <li><i class="bi bi-chevron-right"></i> <a href="#"> Services</a></li>-->
                        
                    </ul>
                </div>

              

                <div class="col-lg-4 col-md-12 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
                    <form action="forms/newsletter.php" method="post" class="php-email-form">
                        <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your subscription request has been sent. Thank you!</div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container text-center">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">AP</strong> <span>All Rights Reserved</span></p>
            <div class="credits">
                Designed by <a href="https://rossumtechsystems.com/">Rossum Tech Systems</a>
            </div>
        </div>
    </div>

</footer>


